<!DOCTYPE html>
<html>
<head>
  <title>Setting up Game</title>
</head>
<body>
    Hi ! We are going to play a game. Please choose from the following: 
    <form action="/madlib"> Do you want to play a game? 
       Input a name: <input type="text" name="person" value="Bob">
       <br>
       Choose a color:
       <br>
       <input type ="radio" name="color" value="Red"> Red
       <input type ="radio" name="color" value="Blue"> Blue
       <br>
       Input a noun: <input type="text" name="noun" value="Computer">
       <br>
       Select adjective:
        <select name="adjective">
            <option value="tasteful"> Tasteful </option>
            <option value="delicious"> Delicious </option>
            <option value="stylish"> Stylish </option>
        </select>
        <input type="submit">
    </form>
</body>
</html>