<!DOCTYPE html>
<html>
<head>
  <title>Setting up Game</title>
</head>
<body>
    Hi ! We are going to play a game. Please choose from the following: 
    <form action="/madlib"> Do you want to play a game? 
       Input a name: <input type="text" name="person" value="Bob">
       <br>
       Choose a color:
       <br>
       <input type ="radio" name="color" value="red"> Red
       <input type ="radio" name="color" value="blue"> Blue
       <input type ="radio" name="color" value="yellow">Yellow 
       <input type ="radio" name="color" value="black"> Black
       <br>
       Input a noun: <input type="text" name="noun" value="Computer">
       <br>
       Select adjective:
        <select name="adjective">
            <option value="tasteful"> Tasteful </option>
            <option value="delicious"> Delicious </option>
            <option value="stylish"> Stylish </option>
            <option value="lazy"> Lazy </option>
            <option value="Cozy"> Cozy </option>
        </select>
        <br>
        Select verbs:
        <select name="verb">
            <option value="amusing">amuse </option>
            <option value="impressing">impress </option>
            <option value="regreting">regret</option>
            <option value="bathing"> bathe </option>
            <option value="painting"> paint </option>
        </select>
        <br>
        <input type="checkbox" name="thought" value="oh no"> "Oh No!"
        <input type="checkbox" name="thought" value="shoot"> "Shoot!"
        <input type="checkbox" name="thought" value="gulp"> "Gulp"
        <input type="checkbox" name="thought" value="geeee...."> "Geeee....!"
        <input type="submit">
    </form>
</body>
</html>